source https://www.nuget.org/api/v2/

group Analyzers
  source http://nuget.org/api/v2
  nuget StyleCop.Analyzers
  nuget Gu.Analyzers

group Test
  source http://nuget.org/api/v2
  framework: net461
  nuget Moq
  nuget NUnit

group Benchmarks
  source http://www.nuget.org/api/v2/
  framework: net461
  nuget BenchmarkDotNet.Diagnostics.Windows
  nuget Ninject
  nuget SimpleInjector
