type project
include-pdbs true
tags IoC DI
projectUrl https://github.com/GuOrg/Gu.Inject
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  FEATURE: Netstandard support.

excludedgroups
  Analyzers